<div class="body">
  <div class="header">
    <img src="././assets/banner.png" width="34%" height="10%" class="center">
  </div>

  <div class="navbar">
    <div class="navbarCenter">
      <a routerLink="/home" class="color1">Apresentação</a>
      <a routerLink="/equipe" class="color2">Equipe</a>
      <a routerLink="/depoimento" class="color3">Depoimento</a>
      <a routerLink="/servicos" class="color4">Serviços</a>
      <a routerLink="/contato" class="color5">Contato</a>
      <a class="color6 disabled">Atendimento</a>
      <a class="color7 disabled">Loja</a>
      <a class="color8 disabled">Publique Conosco</a>
    </div>
  </div>


</div>
