<div class="footer">
  <div class="left ident">
    <table>
        <tr> 
          <th><img src="././assets/logoN.png"  width="96px" height="130px" class="img"></th>
          <th class="border"> 
          <p class="p1 fontTable">Contatos:</p>
            <p class="p2 fontTable">+55 61 99836-1610<br>  +55 11 99708-9061<br>   +55 34 99163-0308<br>   +43 677 6179-1978<br>
            Email: boarddquartett.suporte@gmail.com</p>
          </th>
        </tr>
      </table>
    </div>
    <div class="right" style="line-height: 30px;">
    <table id="tb1">
        <tr>
          <td><a routerLink="/home" class="color1 fontTable">Apresentação</a></td>
          <td><a routerLink="/equipe" class="color2 fontTable">Equipe</a></td>
          <td><a routerLink="/servicos" class="color3 fontTable">Serviços</a></td>
        </tr>
        <tr>
          <td><a routerLink="/depoimento" class="color4 fontTable">Depoimento</a></td>
          <td><a routerLink="/contato" class="color5 fontTable">Contato</a></td>
          <td><a class="color6 fontTable disabled">Publique</a></td>
        </tr>
        <tr>
            <td><a class="color7 fontTable disabled">Atendimento</a></td>
            <td><a class="color8 fontTable disabled">Loja</a></td>
          </tr>
      </table>
    </div>
</div>
