.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 165px;
    background-color: #3a3a3afa;
    color: white;
    font-family: "Arial";
    display: table;
 }

 .info{
    margin-top: 10px;
    margin-left: 15%; 
 }

 .left{
    text-align: center;
    margin-left: 15% ;
    float: left;
 }

 .right{
    margin-top: 2%;
    margin-right: 20%;
    text-align: left;
    float: right;
 }

 th{
    text-align: left;
    padding: 8px;
 }

 .border{
    border-right: 250px solid transparent;
    background-clip: padding-box;
 }

 .espaco{
   margin-right:10px;
 }

 .p1{
    font-size: 20px; 
    line-height: 1.5;
    margin: 0;
 }

 .p2{
    line-height: 1;
    font-size: 17px;
    margin: 0;
 }

 .size{
     font-size: 10px;
 }

.esp{
    margin-right: 10%;
}

 .img{
    box-shadow: -6px 6px 4px 4px rgb(44, 44, 44);
 }

 a{
  color: white;
  font-size: 18px;  
 }

a.color1 {
   text-decoration: underline yellow;
 }

a.color2 {
   text-decoration: underline #FFA500;
 }

 a.color3 {
   text-decoration: underline #C540C7;
 }

a.color4 {
   text-decoration: underline #9300A5;
 }

a.color5 {
   text-decoration: underline #5048F1;
 }

a.color6 {
   text-decoration: underline #002EA5;
 }

a.color7 {
   text-decoration: underline #66F35E;
 }

a.color8 {
   text-decoration: underline #0FBD05;
 }

a.disabled{
   color: grey;
 }

 .ident{
    width: 50%;
 }

 @media only screen and (max-width: 1500px) {
   .right{
      margin-top: 2%;
      margin-right: 100px;
      text-align: left;
      float: right;
   }
}

@media only screen and (max-width: 1000px) {
   .right{
      text-align: left;
      margin-right: 10%;
      float: right;
   }

   .left{
      text-align: center;
      margin-left: 1% ;
      float: left;
   }
}


@media only screen and (max-width: 670px) {
   .img{
      box-shadow: -6px 6px 4px 4px rgb(44, 44, 44);
      width: 40px;
      height: 40px;
   }

   .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 165px;
      background-color: #3a3a3afa;
      color: white;
      font-family: "Arial";
      display: table;
   }

   .fontTable{
    font-size: 7px;
  }
}

@media only screen and (max-width: 480px) {
  .border{
    border-right: 0px solid transparent;
    background-clip: padding-box;
 }

  .right{
    text-align: left;
    float: none;
 }

 .left{
    text-align: left;
    float: none;
 }

 .img{
  box-shadow: 0px 0px 0px 0px rgb(44, 44, 44);
  width: 0px;
  height: 0px;
 }

}
