@media only screen and (max-width: 1600px) {
    .profissionais{
        margin: 3%;
    }
 }

#container{
height: 700px;
}

#img{
    width: 245px;
    height: 232px;
    border-style: solid;
    border-width: 5px;
}

.text {
    display: none;
    font-size: 110%;
    color: black;
}

.descricao{
    margin-left: 1%;
    margin-top: 1%;
    position: relative;
    float: left;
}

.descricao:hover .text {
    background: rgba(231, 231, 231, 0.466);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }

span{
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}  

.profissionais{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
    margin-left: 5%;
}

.sizeIcon{
    font-size: 40px;
    margin-right: 7%;
    
}

a {
    color: black;
}

@media only screen and (max-width: 1000px) {
    
        #img{
          width: 200px;
          height: 200px;
        }
    
     }

     @media only screen and (max-width: 400px) {
        
            #img{
              width: 150px;
              height: 150px;
            }
        
         }