<app-header></app-header>
<div id="container">
  <div *ngFor="let dep of profissional; index as i" [hidden]="i>limit">
      <div class="profissionais">
          <div class="descricao">
          <img [src]="dep.img" id="img">
          <a routerLink="/equipe" (click)="equipeModal(dep)"><div class="text"><span><mat-icon class="sizeIcon">search</mat-icon><br>
            Profissional {{dep.nome}}<br><strong><font color="blue">[ Perfil ]</font></strong></span></div></a>
          </div>
      </div>
  </div>

</div>
<div>
  <app-footer></app-footer>
</div>
<!--<video loop="" muted="" autoplay="" class="fullscreen-bg_video" width="100%" height="100%">
<source src="https://www.psicologiaviva.com.br/sitenovo/videos/header_video.mp4"  type="video/mp4"> </video>-->