.cc{
    margin-left: 3%;
}

input {
    width: 100%;
  }

  textarea{
    width: 100%;  
  }


  @media only screen and (max-width: 600px) {

    input {
        width: 250%;
      }

      textarea{
        width: 250%;  
      }

    font{
        font-size: 100%;
    }

    .wpp{
        height: 20px;
        width: 20px;
    }
 }
  