<app-header></app-header>
<div class="p-grid">
  <div class="ui-g" style="padding: 50px">

    <div class="ui-g-12 ui-md-offset-2">
      <font size="27">Fique à Vontade.</font> <font color="#8a2be2" size="27"> Queremos te ouvir.</font>
    </div>
    <div class="ui-g-12 ui-md-offset-2">
      <font size="5" color="#353535">Entre em contado com o número abaixo ou deixe uma mensagem</font>
    </div>

    <div class="ui-g-12"></div>

    <div class="ui-g-6 ui-md-offset-2">
      <div class="ui-g-12 ui-md-6">
        <font size="3">Nome: </font>
      </div>
      <div class="ui-g-12 ui-md-6">
        <font size="3">Telefone: </font>
      </div>
      <div class="ui-g-12 ui-md-6">
        <input id="nome" type="text" size="45" pInputText placeholder="Digite seu nome completo" [(ngModel)]="nome">
      </div>
      <div class="ui-g-12 ui-md-6">
        <input id="telefone" type="text" size="30" pInputText placeholder="Digite seu telefone" [(ngModel)]="telefone">
      </div>

      <div class="ui-g-12">
        <font size="3">E-mail: </font>
      </div>
      <div class="ui-g-12">
        <input id="email" type="text" size="45" pInputText placeholder="Digite seu e-mail" [(ngModel)]="email">
      </div>

      <div class="ui-g-12">
        <font size="3">Mensagem: </font>
      </div>
      <div class="ui-g-12">
        <textarea id="msg" [rows]="8" [cols]="100" pInputTextarea placeholder="Digite sua mensagem" [(ngModel)]="mensagem"></textarea>
      </div>
    </div>

    <div class="ui-g-12" align="center">
      <br><br>
      <button pButton type="button" label="Enviar" (click)="sendNotification()" style="width: 200px;" ></button>
    </div>

    <div class="ui-g-12 cc" align="center">
      <br>
      <strong><font size="6" color="#e6d719">(61) 99836-1610 | (11) 99708-9061</font></strong>
      <img src="././assets/wpp.png" height="50px" width="50" class="wpp" >
    </div>
  </div>
</div>


<app-footer></app-footer>
