<div class="body">
  <div class="header">
    <div class="right blockTop">
      <button mat-icon-button class="colorButton" isIconButton="true" mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
    <div class="conteudo">
      <div class="profissional">
        <div class="center">
          <img src='{{data["img"]}}' id="img"><br>
          <div class="nome">
            {{data["nome"]}}
          </div>
        </div>
      </div>

      <div class="descricao">
          <div [innerHTML]='data["text"]'></div>
        </div>
    </div>
  </div>

</div>