.fontTitulo{
    font-size: 40px;
}

.center{
    text-align: center;
    margin-bottom: 2%;
}

.dialog{
    width: 800px;
    height: 500px;
}

@media only screen and (max-width: 1000px) {

    .dialog{
        height: 500px; 
        width: 500px; 
    }
    
    .fontTitulo{
        font-size: 20px;
    }

    #img{
        height: 70%; 
        width: 70%;
    }

    #img2{
        height: 30%; 
        width: 30%;
    }

    .textDes{
        font-size: 10px;
    }
    
     }