<app-header></app-header>

<div class="ui-g">
  <div class="ui-g-12" style="padding: 75px">
    <div align="center">
      <font class="fontTitulo">Depoimentos:</font>
    </div>

    <div *ngFor="let dep of depoimentos; index as i" [hidden]="i>limit">
      <div class="ui-g-12">
          <br><br>
        <div class="ui-g-12 ui-md-2">
          <div align="center">
            <img [src]=dep.img width="100" height="90" id="img">
          </div>
        </div>
        <div class="ui-g-12 ui-md-10" align="justify" class="textDes">
            <label>
              {{dep.descricao}}
            </label>
        </div>
      </div>
      <div class="ui-g-12" style="border-bottom: solid 1px #000;">
        <div class="ui-g-12 ui-md-2 center">
          {{dep.nome}}
        </div>
        <div class="ui-g-12 ui-md-4">
          <p-rating [(ngModel)]="dep.rating" [disabled]="true" [cancel]="false" ></p-rating>
        </div>
        <div class="ui-g-12 ui-md-6" align="right">
          <button pButton type="button" label="Veja mais" (click)="openView(dep)" class="ui-button-warning" style="color: white"></button>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <button pButton type="button" label="Veja mais depoimentos" (click)="moreDepoiments()" class="ui-button-warning" style="color: white; margin-top: 2%;"></button>
    </div>
  </div>
</div>

<p-dialog [(visible)]="popUp" header="" [style]="{'width':'70%', 'height': '1500px'}" class="dialog" [maximizable]="true" [baseZIndex]="10000" blockScroll="true" [responsive]="true">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-3 ui-g-nopad">
      <div class="ui-g-12" *ngIf="depoimentoSelecionado">
        <p-rating [(ngModel)]="depoimentoSelecionado.rating" [cancel]="false"></p-rating>
      </div>
      <div class="ui-g-12">
        <img [src]=depoimentoSelecionado?.img width="100" height="100" id="img2" >
      </div>
      <div class="ui-g-12 textDes">
        <h1>{{depoimentoSelecionado?.nome}}</h1>
      </div>
    </div>
    <div class="ui-g-12 ui-md-7 textDes">
      {{depoimentoSelecionado?.descricao}}
    </div>
  </div>
</p-dialog>

<app-footer></app-footer>
