<app-header></app-header>

<div class="titulo">
    <h1>Cursos oferecidos por Boardd Quartett</h1>
</div>

<div class="grupo-texto1">
    <h3>Terapia online</h3>
    <p>Leitura Corporal, preenchimento de ferramenta que identica os traços de personalidade, Feedback para o cliente,
        condução do cliente até a sua dor de origem, aplicação de várias técnicas de Terapias Integrativas, como Reiki,
        PNL, Consciência Sistêmica, finalizando com Constelação Individual</p>
</div>
<div class="grupo-texto2">
    <h3>Curso Tabuleiro da Vida: Bioenergética Aplicada.</h3>
    <p>Trata-se de um programa de Aperfeiçoamento para profissionais do Desenvolvimento Humano ou de outras áreas que
        lidam com situações de conflitos emocionais ou sociais</p>
</div>
<div class="grupo-texto1">
    <h3>Mentoring Treinando Profissionais para o Sucesso</h3>
    <p>Esse curso é voltado a profissionais das áreas do Desenvolvimento Humano que desejam aprimorar seus conhecimentos
        e receber Mentoria individual ou em equipe e também para quem está em fase de transição de carreira</p>
</div>
<div class="grupo-texto2">
    <h3>Upgrade Tabuleiro da Vida: Bioenergética Aplicada</h3>
    <p>Esse curso é destinado a quem já fez as aulas completas e ainda tem dúvida e precisa aprimorar os conhecimentos.
    </p>
</div>
<div class="grupo-texto1">
    <h3>Constelação Sistêmica Individual online</h3>
</div>
<div class="grupo-texto2">
    <h3>Bioenergética Aplicada para iniciantes</h3>
        <br><br><br>
</div>

<div id="container" class="image1">
    <img id="imagem" src="././assets/marque_consulta.png">
    <div class="figcaption">
        <div class="texto-consulta">
            <h1>MARQUE A SUA CONSULTA AGORA MESMO!</h1>
            <h2 class="amarelo">+55 (61)99836-1610 | +55 (11)99708-9061 | +55 (34)99163-0308 | +43 677 6179-1978
            <img src="././assets/wpp.png" height="50px" width="50" class="wpp" ></h2>
        </div>
    </div>
</div>

<br>


<app-footer></app-footer>