div.titulo {
    text-align: center;
}

div.grupo-texto1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 38%;
    float: left;
    width: 13%;
}

div.grupo-texto2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 13%;
    margin-right: 34%;
    float: right;
}

#imagem {
    width: 80%;
    height: 256px;
    text-align: center;
}
.texto-consulta {
    margin-top: 40px;
    margin-left: 5%;
    color: black;
    text-align: center;
    line-height: 1.5;
}

#container {
    overflow: hidden;
    position: sticky;
    clear: both;
    text-align: center;
}

#container .figcaption {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    bottom: 0%;
    width: 80%;
    height: 99%;
    margin-left: 10%;
    color: black;
}
h2.amarelo {
    color:yellow;
}


@media only screen and (max-width: 750px) {

    .titulo{
        font-size: 10px;  
    }
    
    .grupo-texto1{
        font-size: 10px;
    }

    .grupo-texto2{
        font-size: 10px;
    }

    .texto-consulta{
        font-size: 10px;  
    }

    .amarelo{
        font-size: 10px; 
    }

    
     }


     @media only screen and (max-width: 500px) {

        .titulo{
            font-size: 5px;  
        }
        
        .grupo-texto1{
            font-size: 5px;
        }
    
        .grupo-texto2{
            font-size: 5px;
        }
    
        .texto-consulta{
            font-size: 5px;  
        }
    
        .amarelo{
            font-size: 5px; 
        }

        .wpp{
            width: 10px;
            height: 10px;
        }

        #imagem {
            width: 80%;
            height: 100px;
            text-align: center;
        }
            
             }